@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Stalemate&display=swap');

// Variable

$base-color: #2e2e2e;
$secondary-color: white;
$base-font: 'Poppins';
$header-font: 'Cookie';
$art-font: 'Stalemate';

body {
  font-family: 'Poppins';
  // color: $secondary-color;
  letter-spacing: 0.3px;
}
section {
  padding: 20px;
}
strong {
  font-weight: 600;
}
.bold {
  font-weight: 600;
}
.lines {
  letter-spacing: -0.2em;
  font-weight: bold;
}

.btn-base {
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 15px;
  transition: 0.5s;
  margin: 5px;
  background-color: $base-color;
  color: $secondary-color;
}
.btn-rounded {
  border-radius: 50%;
  background-color: $base-color;
  color: $secondary-color;
}

// Opener Section
// ---------------------------------
#opener {
  height: 100vh;
  width: 100%;
  background-image: url('./EthnicGold/assets/5.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  body {
    color: $base-color;
  }
  p {
    margin: 0;
    font-size: 12px;
  }
  h1 {
    font-family: $header-font !important;
    font-size: 43px !important;
    font-weight: 400 !important;
    line-height: 56px;
    margin: 0;
  }
  .btn-base {
    background-color: $base-color;
    color: $secondary-color;
  }
}

// Content
// ------------------------------------------------
#content {
  // background-image: url('./EthnicGold/assets/background.jpg');
  p {
    margin-bottom: 5px;
    font-size: 14px;
  }
  h1 {
    font-family: $header-font !important;
    font-size: 34px !important;
    font-weight: 400 !important;
    line-height: 56px;
    margin-bottom: 5px;
  }
  h2 {
    font-size: 20px;
  }
  h3 {
    font-family: $art-font;
    font-size: 40px;
    // font-weight: bold;
  }
  background-repeat: repeat;
  #main {
    background-color: rgb(212, 208, 208);
    padding-top: 30px;
    .bg-img-slide {
      background-color: rgba(0, 0, 0, 0.4);
      width: 90%;
      height: 64vh;
      border-radius: 120px 15px 120px 15px;
    }
    .slide-img {
      width: 90%;
      padding: 0;
      margin: 0;
      height: 70vh;
      border-radius: 25px;
      box-shadow: 4px 6px 20px rgba(175, 175, 175, 0.8);
      img {
        width: 100%;
        height: 70vh;
        border-radius: 25px;
        object-fit: cover;
      }
    }
  }
  #event {
    .rounded-circle {
      width: 150px;
      height: 150px;
      object-fit: cover;
      box-shadow: 4px 6px 20px rgba(175, 175, 175, 0.8);
    }
    background-image: url('./EthnicGold/assets/bg.jpg');
    background-size: cover;
    background-position: center;
    .ceremony {
      .front-layer {
        background-color: rgba(255, 255, 255, 0.9);
        padding: 20px 15px;
        margin: 20px 0;
        border-radius: 20px;
      }
      background-image: url('./EthnicGold/assets/8.jpg');
      background-size: cover;
      background-position: center;
      border-radius: 20px;
      box-shadow: 0px 6px 20px rgba(175, 175, 175, 0.8);
    }
    // Countdown
    .Countdown-col {
      display: inline-block;
    }

    .Countdown-col-element {
      display: inline-block;
      background-color: rgba(90, 90, 90, 0.8);
      margin: 0 5px;
      padding: 10px 12px;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      color: $secondary-color;
    }

    .Countdown-col-element {
      strong {
        font-size: 25px;
      }
      span {
        font-size: 12px;
      }
    }
  }
  #galleries {
    background-color: rgba(175, 175, 175, 0.4);
  }
  #wishes {
    background-color: whitesmoke;
    .front-layer {
      background-color: rgba(255, 255, 255, 0.9);
      padding: 20px 15px;
      margin: 20px 0;
      border-radius: 20px;
      box-shadow: 0px 6px 20px rgba(175, 175, 175, 0.8);
    }
    .text-left {
      text-align: left !important;
    }
    label {
      font-size: 14px;
    }
    input {
      border-radius: 15px !important;
      font-size: 14px;
      .form-control {
        font-size: 14px;
      }
    }
    .btn-second {
      margin-top: 10px;
      color: $secondary-color;
      background-color: $base-color;
      font-size: 14px;
      border-radius: 15px;
    }
    h5 {
      font-size: 16px;
    }
    .badge {
      border-radius: 15px;
      font-size: 12px;
      background-color: none;
      color: $base-color;
      background-color: rgb(211, 211, 211);
      font-weight: 600;
      padding: 3px 10px;
    }
    small {
      color: grey;
      font-size: 10px;
    }
    .chat-content {
      max-height: 400px;
      overflow-y: auto;
    }
  }
  #prokes {
    background-color: whitesmoke;
    .main {
      border-radius: 15px;
      background-color: rgba(175, 175, 175, 0.8);
      box-shadow: 0px 6px 20px rgba(175, 175, 175, 0.8);
    }
    .prokes-content {
      .img-container {
        margin: 10px 0;
        width: 100%;
        height: 90px;
        text-align: center;
        img {
          height: 100%;
          width: auto;
        }
      }
    }
  }
  #music {
    position: fixed;
    z-index: 1030;
    bottom: 5vh;
    left: 15px;
    .btn-music {
      border-radius: 50%;
      width: 55px;
      height: 55px;
      background-color: rgba(175, 175, 175, 0.4);
      box-shadow: 0px 6px 20px rgba(175, 175, 175, 0.3);
    }
  }
}

/*-------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/

// react-slick
.slick-dots,
.slick-next,
.slick-prev {
  display: none !important;
  padding: 0;
}

// bootstrap
.mn-1 {
  margin-top: -0.25rem;
}
.mn-2 {
  margin-top: -0.5rem;
}
.mn-3 {
  margin-top: -0.75rem;
}
.mn-4 {
  margin-top: -1rem;
}
.mn-5 {
  margin-top: -1.25rem;
}
